.entrada {
    position: relative;


    &__video {
        height: 100%;
        width: 100%;
        position: relative;
    }


    &__texto {
        position: sticky;
        bottom: 5px;
        left: 200px;
        right: 200px;
        font-size: 1.5rem;
        color: $color-primario;
        max-height: 25%;
        margin-left: 4rem;
        margin-right: 4rem;

        &:hover {
            background: rgba(0, 0, 0, 0.911);
            transform: scale(1, 1);
            border: 2px #eee solid;
            transition: transform 300ms ease-in-out;
            transition: 600ms ease-in-out;
            color: white;
        }
    }
}

@media (min-width:300px) and (max-width:900px) {
    .entrada__texto {
        font-size: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.titulo__preadopcion {
    font-size: 3.5rem;
}

.adopcion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9rem;
    margin: 2rem;


    &__tarjeta {
        color: white;
    }

    &__articulo {
        width: 100%;
        height: 100%;

    }

    &__imagen {
        width: 100%;
        height: 100%;
        max-width: 1100px;
        position: relative;
        border-radius: 10px;
    }

    &__titulo {
        position: absolute;
        color: black;
        left: 100px;
        right: 100px;
        bottom: 120px;
        font-size: 2rem;
        background: rgba(0, 0, 0, 0.747);
        color: white;
        border-radius: 10px;
    }

    &__subtitulo {
        font-size: 3rem;
    }

    &__conclusion {
        margin-bottom: 2rem;
    }
}

@media (min-width:300px) and (max-width:900px) {
    .adopcion__titulo {
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 30px;
        font-size: 1.2rem;
        border-radius: 10px;
    }

    .titulo__preadopcion {
        font-size: 1.5rem;
    }

}

.razas {
    background-image: url(../assets/imagenes/gato-caja.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    &__parrafo {
        color: black;
        margin-left: 6rem;
        margin-right: 6rem;
        padding-top: 4rem;
        font-size: 2rem;
        text-align: center;
        color: black;
        font-weight: bold;
    }

    &__parrafo1 {
        background: rgba(0, 0, 0, 0.733);
        border: 2px #eee solid;
        color: white;
        margin-bottom: 2rem;
        border-radius: 10px;
    }

    &__tipos {
        display: flex;
        margin-top: 5rem;
        justify-content: space-around;
    }

    &__articulo {
        border: 2px solid white;
        width: 220px;
        bottom: 2rem;
        border-radius: 100%;
        overflow: hidden;
        background-color: black;
        margin-bottom: 10rem;
    }

    &__titulo {
        color: white;
    }

    &__imagen {
        width: 100%;
    }
}

@media (min-width:300px) and (max-width:1200px) {
    .razas__parrafo {
        text-align: center;
        font-size: 1.2rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .razas__tipos {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .razas__articulo {
        border: 2px solid white;
        width: 200px;
    }
}