header nav ul {
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.6rem;
    height: 2rem;

    li {
        a {
            color: $color-primario;
            position: relative;
            -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }
    }

}

a {
    color: white;

    &:visited {
        color: $color-primario;
    }

    &::after {
        content: "";
        position: absolute;
        height: 2px;
        background-color: $color-primario;
        width: 0;
        left: 50%;
        bottom: 0;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
        transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
    }

    &:hover{
        color: $color-primario;

        &::after{
            width: 100%;
        }
    }


}

#activo{
    color: #dcac5c;
}

footer {
    background-color: black;

    div ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    div div {
        text-align: center;
        border-bottom: 2px dotted white;
    }
}


#footer__index {
    color: white;
}

@media (min-width:300px) and (max-width:900px) {
    header nav ul {
        font-size: 1rem;
    }
}