header nav ul {
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.6rem;
    height: 2rem;

    li {
        a {
            color: #39694C;
        }
    }

}

a {
    color: white;

    &:visited {
        color: #39694C;
    }
}

footer {
    background-color: black;

div ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

    div div{
        text-align: center;
    border-bottom: 2px dotted white;
    }
}


#footer__index {
    color: white;
}

@media (min-width:300px) and (max-width:900px) {
    header nav ul {
        font-size: 1rem;
    }
}